@font-face {
  font-family: 'Actay Wide';
  src: url("ActayWide-Bold.woff2") format('woff2'), url("ActayWide-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
li,
th,
td,
code {
  font-family: 'PT Mono', sans-serif;
  color: #efefef;
}
th {
  font-family: 'Actay Wide', sans-serif;
  line-height: 1;
  color: #ffff72;
}
td:first-child {
  font-family: 'Actay Wide', sans-serif;
}
th,
td {
  font-size: 22px;
}
td:not(:first-child) {
  padding: 0 !important;
}
code:before,
li:before {
  color: #efefef !important;
  opacity: 0.6 !important;
}
.shower {
  --color-line: rgba(239,239,239,0.3);
}
blockquote {
  font-family: 'PT Mono', sans-serif;
  color: #3c7a6e;
  font-weight: 100;
  letter-spacing: -1px;
}
blockquote:before {
  font-family: 'PT Sans';
}
.cover-container {
  padding: 10px;
  width: 829px;
  height: 443px;
  rotate: -0.5deg;
  box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.25);
  z-index: -1;
  overflow: hidden;
}
.bordered {
  box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.25);
  max-height: 85%;
  max-width: 85%;
  rotate: -0.5deg;
}
.bgt,
.bgl,
.bgi {
  background-size: cover;
  background-position: center;
}
.bgi {
  padding: 0 !important;
}
.bgi > h2 {
  padding: 10px 10px 10px 90px !important;
  background: #ffff72 !important;
  color: #000 !important;
  margin-top: 80px;
}
.bgl:nth-child(3n) {
  background-image: url("pictures/bg14.jpg");
}
.bgl:nth-child(3n+1) {
  background-image: url("pictures/bg8.jpg");
}
.bgl:nth-child(3n+2) {
  background-image: url("pictures/bg13.jpg");
}
.bgi:nth-child(4n) {
  background-image: url("pictures/bg1.jpg");
}
.bgi:nth-child(4n+1) {
  background-image: url("pictures/bg2.jpg");
}
.bgi:nth-child(4n+2) {
  background-image: url("pictures/bg7.jpg");
}
.bgi:nth-child(4n+3) {
  background-image: url("pictures/bg10.jpg");
}
.bgt:nth-child(13n) {
  background-image: url("pictures/bg3.jpg");
}
.bgt:nth-child(13n+1) {
  background-image: url("pictures/bg4.jpg");
}
.bgt:nth-child(13n+2) {
  background-image: url("pictures/bg5.jpg");
}
.bgt:nth-child(13n+3) {
  background-image: url("pictures/bg6.jpg");
}
.bgt:nth-child(13n+4) {
  background-image: url("pictures/bg9.jpg");
}
.bgt:nth-child(13n+5) {
  background-image: url("pictures/bg11.jpg");
}
.bgt:nth-child(13n+6) {
  background-image: url("pictures/bg12.jpg");
}
.bgt:nth-child(13n+7) {
  background-image: url("pictures/bg15.jpg");
}
.bgt:nth-child(13n+8) {
  background-image: url("pictures/bg16.jpg");
}
.bgt:nth-child(13n+9) {
  background-image: url("pictures/bg17.jpg");
}
.bgt:nth-child(13n+10) {
  background-image: url("pictures/bg18.jpg");
}
.bgt:nth-child(13n+11) {
  background-image: url("pictures/bg19.jpg");
}
.bgt:nth-child(13n+12) {
  background-image: url("pictures/bg20.jpg");
}
.end-link {
  font-family: 'Actay Wide', sans-serif;
  bottom: 10%;
  position: absolute;
  color: #efefef;
  width: 100%;
  padding: 0;
  font-size: 25px;
  line-height: 1.8;
}
.end-link a {
  color: #efefef !important;
}
.source {
  font-family: 'Actay Wide', sans-serif;
  bottom: 10%;
  position: absolute;
  padding: 0 15px;
  font-size: 25px;
  line-height: 1.8;
  background: #ffff72;
  left: 0;
  text-align: center;
}
.nosign li {
  font-family: 'PT Mono', sans-serif;
}
.nosign li:before {
  visibility: hidden;
}
.slide::after {
  height: 65px;
  width: 65px;
  color: #efefef;
  font-family: 'Actay Wide', sans-serif;
  font-size: 31px;
  margin: 20px 40px;
  line-height: 1.4;
  border-radius: 50%;
}
.slide.rbn::after {
  background: #000;
}
.slide::before {
  position: absolute;
  top: 75px;
  right: 100px;
  height: 50px;
}
.slide {
  padding-top: 60px;
}
.slide.right {
  padding-left: 550px;
}
.slide h2 {
  color: #efefef;
  font-family: 'Actay Wide', sans-serif;
  font-weight: 100;
}
.slide a {
  color: #008000;
}
.slide a.bottom {
  position: absolute;
  bottom: 15%;
  left: 50%;
  margin-left: -100px;
}
.html {
  color: #666;
}
.hightlight,
.important,
.alert {
  border-radius: 0.2em;
  padding: 0.1em 0.3em;
}
.hightlight {
  background: #fafaa2;
}
.hightlight * {
  color: #000 !important;
}
.important {
  background: important-color;
  color: #fff;
}
.important * {
  color: #fff !important;
}
.alert {
  background: #d10a0a;
  color: #fff;
}
.alert * {
  color: #fff !important;
}
.comment {
  color: #999;
}
.progress:before {
  background: #ffff72;
}
.tag {
  color: #ad1531;
}
.attr {
  color: #4f7302;
}
.slide .shout.smaller {
  font-size: 90px;
}
.slide .shout.smaller a {
  color: #efefef;
}
.slide.menu-slide h2 {
  font-size: 120px;
  margin-bottom: 0;
  padding: 0 30px;
}
.slide.menu-slide ul {
  color: #efefef;
}
.slide.menu-slide ul > li {
  font-size: 120px;
  line-height: 1;
  font-weight: bold;
  padding: 0 30px;
}
.slide.menu-slide ul > li:before {
  opacity: 0;
}
.slide.menu-slide .selected-item {
  background-color: #3c7a6e;
  display: inline-block;
}
.slide.menu-slide .transparent {
  opacity: 0.25;
}
.slide.label-header h2 {
  display: inline-block;
  background: rgba(60,122,110,0.8);
  padding: 12px;
  font-family: 'Actay Wide', sans-serif;
  font-size: 35px;
  color: #efefef;
}
.slide.label-header h2.shout {
  margin-left: 0;
  padding: 20px 1em;
  font-size: 47px;
  color: #efefef;
  border: none;
  background: none;
  box-sizing: border-box;
}
.slide.label-header.bg h2 {
  background: none;
  padding: 0;
  color: #efefef;
}
.slide.capture h2.shout {
  font-size: 64px;
}
.slide.top-center h2.shout {
  margin-left: 150px;
  margin-top: -120px;
}
.slide h2 .label {
  color: #fff;
  padding: 10px 40px;
  font-size: 120px;
}
.slide h2 .label.right {
  float: right;
}
.slide p.center {
  text-align: center;
}
.slide p.center img {
  max-width: 100%;
}
.slide.white p,
.slide.white ul,
.slide.white td {
  color: #fff;
}
.slide.bgblack {
  background: #000;
}
blockquote {
  font-size: 20px;
  line-height: 1.4;
  color: #efefef;
}
figcaption {
  opacity: 0.5;
  color: #efefef;
  position: relative;
  line-height: 1.6;
  margin-top: 40px !important;
}
.label {
  background-color: #3c7a6e;
  color: #fff;
  padding: 0 10px;
  display: inline-block;
}
.screen-example {
  vertical-align: top;
  float: right;
  border: 1px solid #efefef;
  padding-top: 10px;
  width: 700px;
}
.relative {
  position: relative;
}
.slide ol.no-indent li,
.slide ul.no-indent li {
  text-indent: 0;
  margin-bottom: 5px;
}
.frame {
  box-shadow: 0 0 5px 5px #eee;
  line-height: 0;
  border-radius: 15px 15px 0 0;
}
.frame .title {
  background-color: #efefef;
  height: 30px;
  border-radius: 15px 15px 0 0;
  border: 1px solid #aaa;
  border-bottom-width: 0;
  line-height: 24px;
  padding-left: 15px;
}
.frame .btn {
  height: 13px;
  width: 13px;
  display: inline-block;
  border-radius: 50%;
}
.frame .btn.close {
  background-color: #f00;
}
.frame .btn.hide {
  background-color: #ff0;
}
.frame .btn.expand {
  background-color: #008000;
}
.fade-opacity {
  opacity: 0.25;
}
.opacity-0 {
  opacity: 0;
}
.bold {
  font-weight: bold;
}
